<li id="{{ id }}" role="listitem">
  <a href="#{{ id }}_messages">
    <span class="name">{{& name }}</span>
    <span class="status {{ status_class }}">{{ status }}</span>
  </a>
  {{ #message_count }}
    <div class="messages">
      {{& messages_html }}
    </div>
  {{ /message_count }}
</li>
