<li id="{{ id }}">
  <a href="#{{ id }}_messages">
    <span class="name">{{& name }}</span>
    {{ #message_count }}<span class="message-count">{{ message_count }}</span>{{ /message_count }}
    <span class="status {{ status_class }}">{{ status }}</span>
  </a>
  {{ #messages }}
  <div id="#{{ id }}_messages">
  </div>
  {{ /messages }}
</li>
