@import "iconfont";

$header-color: rgb(0, 25, 168);

@import "bourbon/bourbon";
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

#loader {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 52px;
  height: 52px;
  margin: -26px 0 0 -26px;
  background: black url(../images/loader.gif) center center no-repeat;
  border-radius: 26px;
  opacity: 0.7;
  display: none;
}

header {
  position: fixed;
  width: 100%;
  background: rgb(0, 25, 168);
  @include linear-gradient(lighten($header-color, 40%), darken($header-color, 5%));
  @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  color: white;
  height: 2.5em;
  padding-top: 0.45em;
  border-bottom: 1px solid #0f0f64;
  h1 {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
  #refresh {
    position: absolute;
    right: 1em;
    top: 0.25em;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.1);
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.4));
    padding: 0.3em 0.7em 0.4em;
    color: white;
    font-family: "fontawesome";
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    &:hover, &:focus {
      background: rgba(255, 255, 255, 0.2);
    }
    &:active {
      padding: 0.4em 0.7em 0.3em;
      @include linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
      @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.3), inset 0 2px 2px rgba(0, 0, 0, 0.4));
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  text-align: center;
  height: 4em;
  padding-top: 0.3em;
  @include linear-gradient(#333, #111);
  @include box-shadow(0 -2px 3px rgba(0, 0, 0, 0.5));
  li {
    display: inline-block;
    width: 49%;
    &:first-child a {
      margin-left: 0;
      border-radius: 0.3em 0 0 0.3em;
    }
    &:last-child a {
      border-radius: 0 0.3em 0.3em 0;
    }
    a {
      font-size: 0.8em;
      height: 4.2em;
      padding: 0.4em;
      color: rgba(255, 255, 255, 0.6);
      display: block;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      border: 1px solid black;
      margin-left: -1px;
      @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.4));
      &.selected {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), 0 0 5px rgba(255, 255, 255, 0.3);
        @include linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.3), inset 0 2px 2px rgba(0, 0, 0, 0.4));
      }
      &:before {
        display: block;
        font-size: 1.5em;
        margin: 0.1em 0 0.2em;
      }
    }
  }
}

.html5 section[role="main"] {
  padding: 2.5em 0 4em;
}

ul#line-list {
  list-style: none;
  padding: 0;
  li {
    a {
      background: #ffffff; /* Old browsers */
      @include linear-gradient(white, #f1f1f1);
      text-shadow: 0 2px 2px white;
      border: {
        style: solid;
        width: 1px 0;
        color: #ffffff white #cccccc;
      }
      display: block;
      padding: 0.7em 1em;
      text-decoration: none;
    }
    .messages {
      padding: 1em 1.5em 0.5em;
      font-size: 0.8em;
      background: #222;
      color: white;
      @include box-shadow(inset 0 2px 8px black);
      p {
        padding-bottom: 1em;
      }
    }
  }
}
li {
  .name {
    text-shadow: none;
    padding: 0.2em 0.5em;
    font-weight: normal;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .status { float: right; text-transform: capitalize; font-size: 0.8em; font-weight: bold; padding-top: 0.1em; }
  .message-count {
    padding: 0 0.2em 0.4em;
    text-shadow: none;
    width: 1.6em;
    height: 1.6em;
    border: 2px solid white;
    text-align: center;
    margin-left: 0.5em;
    font-weight: normal;
    font-size: 0.9em;
    float: right;
    background: black;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
  }
  .good-service { color: green; }
  .special-service { color: #000099; }
  .part-suspended, .part-closure, .minor-delays { color: #CC9900; }
  .major-delays { color: #CC0000; }
}

$bakerloo:        #B36305;
$central:         #E32017;
$circle:          #FFD300;
$district:        #00782A;
$hammersmithcity: #F3A9BB;
$jubilee:         #A0A5A9;
$metropolitan:    #9B0056;
$northern:        #000000;
$piccadilly:      #003688;
$victoria:        #0098D4;
$waterloocity:    #95CDBA;
$dlr:             #00A4A7;
$overground:      #EE7C0E;
$tramlink:        #84B817;

#bakerloo .name { background: $bakerloo; color: white; border-width: 1px; }
#central .name { background: $central; color: white; }
#circle .name { background: $circle; color: rgb(17, 59, 146); }
#district .name { background: $district; color: white; }
#dlr .name { background: $dlr; color: white; }
#hammersmithcity .name { background: $hammersmithcity; color: rgb(17, 59, 146); }
#jubilee .name { background: $jubilee; color: white; }
#metropolitan .name { background: $metropolitan; color: white; }
#northern .name { background: $northern; color: white; }
#overground .name { background: $overground; color: white; }
#piccadilly .name { background: $piccadilly; color: white; }
#victoria .name { background: $victoria; color: white; }
#waterloocity .name { background: $waterloocity; color: rgb(17, 59, 146); }
