body.loading {
  display: none; }

li .name {
  text-shadow: none;
  padding: 0.2em 0.5em;
  font-weight: normal;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1); }

li .status {
  float: right;
  text-transform: capitalize;
  font-size: 0.8em;
  padding-top: 0.1em; }

li .message-count {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid white;
  text-align: center;
  margin-left: 0.5em;
  font-weight: normal;
  font-size: 0.9em;
  float: right;
  background: black;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1em; }

li .good-service {
  color: green; }

li .special-service {
  color: #000099; }

li .part-suspended, li .part-closure, li .minor-delays {
  color: #CC9900; }

li .major-delays {
  color: #CC0000; }

#bakerloo .name {
  background: #b36305;
  color: white;
  border-width: 1px; }

#central .name {
  background: #e32017;
  color: white; }

#circle .name {
  background: #ffd300;
  color: #113b92; }

#district .name {
  background: #00782a;
  color: white; }

#docklands .name {
  background: #00a4a7;
  color: white; }

#hammersmithcity .name {
  background: #f3a9bb;
  color: #113b92; }

#jubilee .name {
  background: #a0a5a9;
  color: white; }

#metropolitan .name {
  background: #9b0056;
  color: white; }

#northern .name {
  background: black;
  color: white; }

#overground .name {
  background: #ee7c0e;
  color: white; }

#piccadilly .name {
  background: #003688;
  color: white; }

#victoria .name {
  background: #0098d4;
  color: white; }

#waterloocity .name {
  background: #95cdba;
  color: #113b92; }
