#line-list li .colour { display: block; float: left; width: 1em; height: 1em; margin-right: 0.5em; }

li .name { text-shadow: none; padding: 0.2em 0.5em; font-weight: normal; }
li .status { float: right; text-transform: capitalize; }
li .good-service { color: green; }
li .part-closure, li .minor-delays { color: #CC9900; }
li .special-service { color: #000099; }
li .major-delays { color: #CC0000; }

$bakerloo:        #B36305;
$central:         #E32017;
$circle:          #FFD300;
$district:        #00782A;
$hammersmithcity: #F3A9BB;
$jubilee:         #A0A5A9;
$metropolitan:    #9B0056;
$northern:        #000000;
$piccadilly:      #003688;
$victoria:        #0098D4;
$waterloocity:    #95CDBA;
$docklands:       #00A4A7;
$overground:      #EE7C0E;
$tramlink:        #84B817;

#bakerloo .name { background: $bakerloo; color: white; }
#central .name { background: $central; color: white; }
#circle .name { background: $circle; color: rgb(17, 59, 146); }
#district .name { background: $district; color: white; }
#docklands .name { background: $docklands; color: white; }
#hammersmithcity .name { background: $hammersmithcity; color: rgb(17, 59, 146); }
#jubilee .name { background: $jubilee; color: white; }
#metropolitan .name { background: $metropolitan; color: white; }
#northern .name { background: $northern; color: white; }
#overground .name { background: $overground; color: white; }
#piccadilly .name { background: $piccadilly; color: white; }
#victoria .name { background: $victoria; color: white; }
#waterloocity .name { background: $waterloocity; color: rgb(17, 59, 146); }
