li .name {
  text-shadow: none;
  padding: 0.2em 0.5em;
  font-weight: normal;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
li .status { float: right; text-transform: capitalize; font-size: 0.8em; padding-top: 0.1em; }
li .message-count {
  width: 1.2em;
  height: 1.2em;
  border: 2px solid white;
  text-align: center;
  margin-left: 0.5em;
  font-weight: normal;
  font-size: 0.9em;
  float: right;
  background: black;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
li .good-service { color: green; }
li .special-service { color: #000099; }
li .part-suspended, li .part-closure, li .minor-delays { color: #CC9900; }
li .major-delays { color: #CC0000; }

$bakerloo:        #B36305;
$central:         #E32017;
$circle:          #FFD300;
$district:        #00782A;
$hammersmithcity: #F3A9BB;
$jubilee:         #A0A5A9;
$metropolitan:    #9B0056;
$northern:        #000000;
$piccadilly:      #003688;
$victoria:        #0098D4;
$waterloocity:    #95CDBA;
$docklands:       #00A4A7;
$overground:      #EE7C0E;
$tramlink:        #84B817;

#bakerloo .name { background: $bakerloo; color: white; border-width: 1px; }
#central .name { background: $central; color: white; }
#circle .name { background: $circle; color: rgb(17, 59, 146); }
#district .name { background: $district; color: white; }
#docklands .name { background: $docklands; color: white; }
#hammersmithcity .name { background: $hammersmithcity; color: rgb(17, 59, 146); }
#jubilee .name { background: $jubilee; color: white; }
#metropolitan .name { background: $metropolitan; color: white; }
#northern .name { background: $northern; color: white; }
#overground .name { background: $overground; color: white; }
#piccadilly .name { background: $piccadilly; color: white; }
#victoria .name { background: $victoria; color: white; }
#waterloocity .name { background: $waterloocity; color: rgb(17, 59, 146); }
